.product-page {
    &__sort-line {
        background-color: #fff;
        border: 1px solid #dde3e8;
        font-size: 12px;
        color: #8d8d8d;
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__sort-line-left-shell {
        display: flex;
        align-items: center;
    }

    &__sort-line-text {
        position: relative;
    }

    &__sort-line-reg {
        background-color: #fff;
    }

    &__sort-line-carets {
        display: inline-flex;
        flex-direction: column;
        font-size: 15px;
    }

    &__sort-line-carets-up {
        background-color: #fff;
        color: #8d8d8d;
    }

    &__sort-line-carets-down {
        background-color: #fff;
        color: #8d8d8d;
    }

    &__sort-line-carets .fa {
        line-height: 5px;
    }

    &__sort-line-right-shell {
        font-size: 12px;
    }

    &__sort-line-square {
        background-color: #fff;
        color: #8d8d8d;

        &:hover {
            color: #8bc34a;
        }
    }

    &__sort-line-list {
        background-color: #fff;
        color: #8d8d8d;

        &:hover {
            color: #8bc34a;
        }
    }


}
.product-card-all {
    margin-bottom: 30px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #dde3e8;
    width: calc((100% - 60px) / 3);

    &__body-top {
        padding: 30px 10px 30px;
    }

    &__body-bottom {
        padding: 20px 10px 20px;
    }
}

.products-row {
    justify-content: space-between;
}

.product-page {
    &__tabs-nav {
        margin-top: 39px;
    }

    &__tabs-nav-list {
        display: flex;
    }

    &__tabs-nav-link {
        background-color: #fff;
        border: 1px solid #dde3e8;
        padding: 10px 15px;
        display: inline-block;
        line-height: 15px;
        margin-right: 5px;
        transition-property: color, background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        &:hover {
            background-color: #e74c3c;
            color: #fff;
        }
    }
}

@media (max-width: 767px) {
    .product-page {
        &__sort-line {
            width: 100%;
        }
    }

    .product-card-all {
        width: 100%;
    }
}